<div class="container" style="margin-top: 5%;;padding: 2%;">
  <h1 style="text-align: center; ">New Admin Registration</h1>
    <form #regForm="ngForm" (ngSubmit)="addAdmin(regForm.value)">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" ngModel required>
            </div>
          
          <br>

          <div class="form-group">
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" ngModel required>
            </div>
            <br>
      
        <button style="text-align: center;font-size: 1.25rem; margin-left: 45%;" type="submit" class="btn btn-primary" >Register</button>
      </form>
</div>
