  .collapse{
    margin-left:65%;
   }
   
   .navbar-brand{
    margin-left: 3%;

    font-weight:500;
    font-size: 2em;
   }
   #navbarNavAltMarkup{
    font-size: 1.25em;
    font-weight:420;
   }