<h1 style="text-align:center;">Cart Items</h1>
<button  class="btn btn-warning discount" (click)="goToDiscount()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
    <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
  </svg> Discounts</button>
<div class="container">
        <table class="table" >
            <thead style="justify-items: center;">
                <tr>
                    <th>Product Image</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts">
                    <td><img style="width: 120px;height: 80px; border-radius: 8px; padding: 5%;"
                            src="assets/images/{{cart.product.url}}" alt=""></td>
                    <td>{{cart.product.id}}</td>
                    <td>{{cart.product.name}}</td>
                    
                    <td>{{cart.product.price}}</td>
                    <td>
                        <button class="btn btn-info" (click)="decreaseQuantity(cart,cart.id)"
                            [disabled]="cart.unit ==1"> - </button>
                        {{cart.unit}}
                        <button class="btn btn-info" (click)="increaseQuantity(cart,cart.id)"> + </button>
                    </td>
                    <td>{{cart.totalPrice}}</td>
                    <td>
                        <button class="btn btn-danger"  color="warn" (click)="deleteCart(cart.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg> Delete
                        </button>

                    </td>
               
                </tr>
               

            </tbody>
        </table>

        
</div>

<div class="container">
<button class="btn btn-success" (click)="findTotalPrice()">Total Bill Amount</button>
<h2>Total Bill Amount: {{grandTotal | currency:'INR'}}</h2>
<br>
<button class="btn btn-primary" routerLink="/payment/{{grandTotal}}">Check Out</button>
</div>




