    <button type="button" class="btn btn-light" style="background-color:#f0767c;margin-left: 4%; margin-top: 2%; color:white" (click)="getWishlist()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
  </svg></button>

  <button type="button" style="margin-left: 1%;margin-top: 2%;" class="btn btn-primary"(click)="getCartData()">Cart</button>

  <button type="button"  style="margin-left: 80%;margin-top: 2%;" class="btn btn-danger" (click)="userLogout()" routerLink="">Logout</button>


    <div class="wrapper" >
      <div style="align-self:center; text-align: center;" class="item" *ngFor ="let product of products" >
          <img src="assets/images/{{product.url}}"><br><br>
         
          <div style="color:#556273;font-size: 1.5rem;
          margin-bottom: 3%; text-align: center;">
          {{product.name}}<br>
          </div>

          <div style="color:#ed2832; font-size: 1.25rem;">₹
          {{product.price}}.00
          </div>
              <br>


          <button style="margin-right:2%;background-color: #73665F;"  type="button" class="btn btn-primary" (click)="addCartData(product.id)">Add to Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg></button>
          
          <button type="button"style="background-color:#F25270" class="btn btn-danger" (click)="getData(product.id)">Add to Wishlist <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg></button>
      </div>
  </div>

