<h1 style="text-align: center; margin-top:5%;">New User Registration</h1>
<div class="container">
<form #regForm="ngForm" (ngSubmit)="userRegistration(regForm.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" ngModel required>
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" ngModel required>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Enter Name " name="name" ngModel required>
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" required ngModel>
    </div>
    
     
   
    <button style="text-align: center;font-size: 1.25rem; margin-left: 45%; margin-top: 2%;"  type="submit" class="btn btn-primary">Register</button>
  </form>

</div>
